.section-exercise{
  background: #1b1b1e;
  flex-grow: 1;
}
.exercise {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 2rem;
  background: var(--gradient);
  font-family: initial;
  gap: 3rem;
  flex-direction: column; /* PROV */
}

/* CODE //////////////////////////////////////////////////*/
.exercise__container-code {
  /* background: #131316; */
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

/* .exercise__code{
  font-size: 2rem;
} */

.exercise__container-button{
  position: relative;
  overflow: hidden;
}

.exercise__container-code-button {
  background: #333;
  color: #dfe1e5;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: 300ms;
  width: 100%;
}

/* .exercise__container-code-button:hover{
  background: #5145cd;
} */

.pointerImg{
  width: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 300ms;
  display: none;
  transform: rotate(10deg);
}

.exercise__container-button:hover .exercise__container-code-button{
  /* background: #5145cd; */
  background: var(--blue);
  color: white;
}

.exercise__container-button:hover .pointerImg{
  transform: scale(1.7) rotate(-5deg);
  top: 17px;
  right: 60px;
}
/* PROBLEM //////////////////////////////////////////////////*/

.exercise__container-header{
  display: flex;
  gap: 1.5rem;
}
.exercise-button{
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: var(--green);
  font-weight: bold;
  border: 1px solid white;
  background: transparent;
  color: white;
}
.exercise-button--active{
  background: var(--green);
  color: black;
  border: 1px solid transparent;
}

.exercise-button:hover{
  border: 1px solid var(--green);
  color: var(--green);
}

.exercise-button--active:hover{
  border: 1px solid var(--green);
  color: #000;
}

.exercise__container-problem {
  /* background: green; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.exercise__text {
  color: #c2c4c7;
  line-height: 28px;
}

.exercise__code {
  /* background: green; */
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  font-family: initial;
}

span.token {
  font-family: 'Consolas', monospace;
}

@media (min-width: 1024px) {

  .section-exercise{
    min-height: 100vh;
  }


  .exercise {
    flex-direction: row;
  }

  /* CODE */
  .exercise__container-code {
    width: 60%;
    height: 600px;
  }

  .exercise__container-code-button {
    font-size: 2.5rem;
  }

  .pointerImg{
    display: initial;
  }

  /* PROBLEM */
  .exercise__container-problem {
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    /* height: calc(100vh - 12.2rem); */
  }
}
