.section-welcome {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.section-welcome__article {
  background: var(--gray-4);
  padding: 3rem;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  transition: 300ms;
  background: #2f323a;
  /* background: #292c34; */
}

.section-welcome__article-title,
.section-welcome__article-title span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.section-welcome__article-title span{
  color: var(--blue-3);
}

.section-welcome__article-button {
  padding: 1rem 2rem;
  width: max-content;
  border: none;
  color: white;
  border-radius: .5rem;
  background: #1e1e22;
}

.section-welcome__article-button:hover {
  background: var(--blue);
}

@media (min-width: 780px) {
  .section-welcome__article {
    padding: 4rem;
    padding: 6rem 4rem;
    max-width: 700px;
    max-width: 600px;
    gap: 4.5rem;
  }

  .section-welcome__article-title,
  .section-welcome__article-title span {
    font-size: 4rem;
    font-size: 3.5rem;
  }

  .section-welcome__article-text {
    font-size: 2.8rem;
    font-size: 2.5rem;
    font-size: 2.4rem;
    font-size: 2.3rem;
  }

  .section-welcome__article-button {
    padding: 2rem 4rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .section-welcome__article {
    width: max-content;
    max-width: initial;
  }

  .section-welcome__article-title,
  .section-welcome__article-title span {
    font-size: 4rem;
  }

  .section-welcome__article-text {
    font-size: 2.4rem;
    max-width: 450px;
  }

  .section-welcome__article-button {
    padding: 2rem 4rem;
    font-size: 1.8rem;
  }
}