.login{
  /* background-color: blue; */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
}

@media (min-width: 720px) {
  .login{
    background: linear-gradient(-70deg, #111 40%, #111111cd, transparent), url(../../assets/patron.png);
    background-size: cover;
  }
}