.questions-grid {
  background: rgb(83, 81, 99);
  padding: 20px;

  width: 100%;
  background: violet;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
}

@media (min-width: 920px) {
  .questions-grid {
    margin: 4rem auto;
  }
}