.button-google-container{
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 4rem; */
}
.button-google-container span{
  margin: 2rem 0;
}
.button-google{
  background: red;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--black-1);
  background: var(--white);
}

.button-google__mask{
  width: 19px;
  height: 19px;
  overflow: hidden;
}
.button-google__mask img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .button-google i{
  color: rgb(0, 0, 0);
} */

@media (min-width: 780px) {
  .button-google__mask{
    width: 22px;
    height: 22px;
    overflow: hidden;
  }
  .button-google-container span{
    margin: 1rem 0 2.3rem;
  }
}