.section-quizz {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: var(--gradient);
  flex-grow: 1;
}

/* TEMPORIZADOR */
.section-quizz__timer {
  background-color: var(--red);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.8rem 2.5rem;
  background: green;
}

