:root{
  /* FUENTES DE TEXTO */
  --font-3: 'Roboto', sans-serif;

  /* TAMAÑO DE FUENTES */
  --size-1: 1rem;
  --size-1-5: 1.5rem;
  --size-2: 2rem;
  --size-2-5: 2.5rem;
  --size-3: 3rem;
  --size-3-5: 3.5rem;
  --size-4: 4rem;
  --size-5: 5rem;
  --size-5-5: 5.5rem;
  --size-6: 6rem;
  --size-6-5: 6.5rem;
  --size-7: 7rem;
}