.section-home{
  flex-grow: 1;
}

/* SECCION 1 - HERO */
.section-home__hero{
  background: green;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

/* HERO 1////////////// */
.section-home-1{
  background: blue;
  color: white;
  width: 80%;
}

.section-home-1 p{
  text-align: center;
}


/* HERO 2////////////// */
.section-home-2{
  background: red;
  display: flex;
  justify-content: center;
}

.section-home__mask{
  width: 250px;
  border: 1px solid yellow;
}


/* SECCION 2 - CATEGORIAS */
.section-home__categories{
  background: violet;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-home__categories h5{
  text-align: center;
  font-size: 2.5rem;
  background: cadetblue;
}

.section-home__categories div{
  display: flex;
  gap: 1rem;
  border: 1px solid yellow;
  flex-wrap: wrap;
  justify-content: center;
}

.section-home__categories article{
  background: cornflowerblue;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-home__categories article button{
  padding: 1rem;
  background: white;
}

@media (min-width: 720px) {
  .section-home__hero{
    flex-direction: row;
  }

  .section-home-1,
  .section-home-2{
    width: 50%;
  }
}