.user__container{
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 3;
  /* cursor: pointer; */
  /* border: 1px solid violet; */
}

.user__img{
  width: 100%;
  border-radius: 50%;
  background: #111111;
}

.user__information{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
  border-radius: .5rem;
  width: max-content;
  max-width: 250px;
  word-wrap: break-word;
  background: #1430bd;
  background: var(--blue);
  padding: 2rem;
  gap: 1.5rem;
}

.user__name{
  font-weight: bold;
  font-size: var(--size-2);
  /* text-transform: capitalize; */
}

.user__description{
  word-wrap: break-word;
  margin-bottom: 1rem;
  color: var(--white);

  margin-top: -1rem;
  margin-top: -1.3rem;
}

.user__button-edit{
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  background: white;
  color: black;
  text-align: center;
  transition: 300ms;
}

.user__button-edit:hover{
  background: rgb(225, 225, 225);
}

@media (min-width: 720px) {

  .user__name{
    font-size: var(--size-2-5);
  }

  .user__information{
    right: 0;
    max-width: 250px;
    top: 45px;
  }
}