.user__container{
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  /* border: 1px solid violet; */
}

.user__img{
  width: 100%;
  border-radius: 50%;
}

.user__information{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
  border-radius: .5rem;
  width: max-content;
  max-width: 210px;
  word-wrap: break-word;
  background: #1430bd;
  padding: 2rem;
  gap: 1.5rem;
}

.user__name{
  font-weight: bold;
  color: yellow;
}

.user__description{
  color: white;
  /* background: red; */
  word-wrap: break-word;
}

.user__button-edit{
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  background: white;
  color: black;
  text-align: center;
  transition: 300ms;
}

.user__button-edit:hover{
  background: rgb(208, 202, 202);
}

@media (min-width: 720px) {

  .user__information{
    right: 0;
    max-width: 250px;
    top: 55px;
  }
}