.questions-grid-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px dashed black;
  padding: 1rem;
}

.questions-grid-title {
  font-size: 2rem;
  background: goldenrod;
}

.questions-grid-header>div {
  display: flex;
  gap: .5rem;
  background: green;
  width: max-content;
}

.questions-grid-header select,
.questions-grid-header input {
  padding: .5rem;
}

@media (min-width: 480px) {
  .questions-grid-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .questions-grid-header>div {
    gap: 2rem;
  }

  .questions-grid-header select,
  .questions-grid-header input {
    padding: 1rem;
  }
}