.section-quizz__option-code {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--black-7);
  color: white;
  transition: 300ms;
  position: relative;
  background: violet;
}

.section-quizz__option-code:hover{
  background: rgb(195, 91, 195);
}
