.section-quizz__option-code {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  transition: 300ms;
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #292c32;
  transition: 300ms;
  border: 1px solid transparent;
  margin: 0 !important;
}

.section-quizz__option-code--selected{
  border: 1px solid var(--blue);
}

@media (min-width: 480px) {
  .section-quizz__option-code{
    padding: 1rem 2rem;
    border: 2px solid transparent;
  }
  .section-quizz__option-code--selected{
    border: 2px solid var(--blue);
  }
}

@media (min-width: 720px) {
  .section-quizz__option-code{
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
  }
}