/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-overlay-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 1rem;
}

.modal-overlay .modal {
  scale: 0;
}

.modal-overlay-open .modal {
  animation: zoom 150ms linear;
}

@keyframes zoom {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

/* Modal container */
.modal {
  position: relative;
  background-color: #27272a;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.modal-content p {
  display: flex;
  align-items: start;
  gap: .5rem;
}

.modal-content span {
  font-weight: bold;
  color: var(--blue-4);
  padding: 0 !important;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.modal-close i {
  font-size: 3rem;
}

.ranking-modal__user-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ranking-modal__user-image img {
  border-radius: 50%;
  margin-bottom: 2rem;
}

@media (min-width: 480px) {
  .modal {
    padding: 4rem;
  }

  .modal-content p,
  .modal-content span {
    font-size: 1.8rem;
  }

  .ranking-modal__user-image img {
    width: 130px;
  }
}