.section-ranking{
  flex-grow: 1;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: var(--gradient);
  background-size: cover;
}


@media (min-width: 720px) {
  .section-ranking{
    padding: 4rem 1rem;
    gap: 4rem;
    background: linear-gradient(110deg, #111 30%, #111111cd, #11111100), url(../../assets/patron.png);
    background-size: contain;
  }
}


@media (min-width: 1024px) {
  .section-ranking{
    padding: 5rem 1rem;
    gap: 6rem;
  }
}