.section-ranking{
  flex-grow: 1;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: var(--gradient);
  background-size: contain;
}


/* ///////////////////////////////// */
.section-ranking__loading{
  background: transparent ;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  height: 50px;
}
.section-ranking__loading i{
  font-size: 5rem;
  animation: girar 700ms ease-in-out infinite;
}

@keyframes girar {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}


@media (min-width: 720px) {
  .section-ranking{
    padding: 4rem 1rem;
    gap: 4rem;
    background: linear-gradient(110deg, #111 30%, #111111cd, #11111100), url(../../assets/patron.png);
    background-size: cover;
  }
}


@media (min-width: 1024px) {
  .section-ranking{
    padding: 5rem 1rem;
    gap: 6rem;
  }
}