.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  background: #111111;
  color: #e5e7eb;
  height: 8rem;
}

.footer__text{
  text-align: center;
  font-size: 1.4rem;
}

@media (min-width: 480px) {
  .footer{
    height: 12rem;
  }
  .footer__text{
    font-size: 1.6rem;
  }
}
