.section-question__start{
  /* border: 1px dashed blue; */
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.section-question__start i{
  font-size: 5rem;
  animation: girar 800ms infinite;
}
.section-question__start p{
  font-size: 2rem;
}

@keyframes girar {
  0%{transform: rotateZ(0deg);}
  100%{transform: rotateZ(360deg);}
}