.challenges{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem;
  background: var(--gradient);
}

/* CONTENEDOR DE CARDS */
.challenges__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: 90%;
}

@media (min-width: 720px) {
  .challenges{
    padding: 4rem 0rem 8rem;
  }

  .challenges__container {
    grid-template-columns: 1fr 1fr;
  }
}
