@import url(./styles/fonts.css);
@import url(./styles/colors.css);
@import url(./styles/reset.css);
@import url(./styles/components.css);

/* //////////////////////////////////////////// */
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ///////////////////////////////////// */
body{
  color: var(--white);
}

/* PARA QUE AL USAR EL BOTON ACEPTAR LOS RETOS, ME REDIRIJA BIEN HACIA ABAJO */
section[id] {
  scroll-margin-top: 8rem;
}