:root{
  /* ELEMENTS COLORS */
  --gradient: linear-gradient(90deg, var(--black-2), #111);
  --black-1: #010101;
  --black-2: #16161a;
  --black-3: #202023;
  --black-4: #18181b;
  --black-5: #27272a;
  --white: #e5e7eb;
  --gray-1: #94a1b2;
  --gray-2: #72757e;
  --blue: #7f5af0;
  --blue-2: #5145cd;
  /* --green: #2cb67d; */
  --green: #43d397;

  /* FUENTES DE TEXTO */
  /* --font-1: 'Tilt Warp', cursive; */
  /* --font-2: 'Open Sans', sans-serif; */
  --font-3: 'Roboto', sans-serif;

  /* TAMAÑO DE FUENTES */
  --size-1: 1rem;
  --size-1-5: 1.5rem;
  --size-2: 2rem;
  --size-2-5: 2.5rem;
  --size-3: 3rem;
  --size-3-5: 3.5rem;
  --size-4: 4rem;
  --size-5: 5rem;
  --size-5-5: 5.5rem;
  --size-6: 6rem;
  --size-6-5: 6.5rem;
  --size-7: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/*App (la aplicacion)///*/
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*OTROS - ELIMINABLES - DE PRUEBA/////////////////////////*/
.button-pb{
  padding: 1rem 3rem;
  background: white;
  border-radius: .5rem;
  color: black;
}