@import url(./Styles/Colors.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/*App (la aplicacion)///*/
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER ///////// */
/* .header,
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  background: #111111;
  color: #e5e7eb;
} */

/* MAIN (contenedor)///////////*/
/* .main{
  flex-grow: 1;
} */

/*OTROS/////////////////////////*/

