.section-admin {
  flex-grow: 1;
  background: #17171a;
  background: url(../../assets/settings.png);
  background-size: 300px;
}

/* FORMULARIO */
.section-admin__form {
  background: blue;
  background: rgb(83, 81, 99);

  /* background: #2a2d35; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

/* CADA BLOQUE (5) */
.section-admin__block {
  background: green;

  /* background: #2a2d35; */
  /* background: #272931; */

  background: #1a1a1d;
  background: #1e1e22;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;

}

.section-admin__block hr {
  border: none;
  border-top: 1px dashed #626272;
}
/* TITULO */
.section-admin__title {
  /* background: gray; */
}

/* CADA SUB-BLOQUE*/
.section-admin__block-2 {
  /* background: mediumspringgreen; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* CONTENEDOR DE LOS SELECTORES */
.section-admin__container-option {
  /* background: blue; */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* MARCADOR DE NUMERO DE OPCION */
.section-admin__option-number {
  background: red;
  background: var(--blue);
  padding: 0.6rem 1.2rem;
  /* border-radius: 50%; */
  border-radius: .5rem;
  font-weight: bold;
}

/* SELECTORES */
.section-admin__select {
  /* background: violet; */
  padding: 0.5rem 1rem;
  /* background: #67676c; */
  /* color: white; */
  border: none;
  border-radius: 0.5rem;
}

/* INPUT TEXTAREA */
.section-admin__textarea {
  /* background: #1a1a1d; */
  padding: 1rem;
  border: 2px solid #333;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  outline: none;
  resize: vertical;
  min-height: 100px;
}
.section-admin__textarea[type='number'] {
  min-height: max-content;
}
.section-admin__textarea:focus {
  border: 2px solid var(--blue);
}

/* BOTON ENVIAR */
.section-admin__submit {
  padding: 1rem 3rem;
  width: max-content;
  margin: 2rem auto;
  border: none;
  border-radius: 0.5rem;
  background: #2a2d35;
  color: white;
  transition: 300ms;
  background: #1e1e22;
}
.section-admin__submit:hover {
  background: var(--blue);
  transform: scale(1.1);
}

@media (min-width: 720px) {
  /* FORMULARIO */
  .section-admin__form {
    margin: 2rem auto;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 2rem;
    gap: 4rem;
    gap: 3rem;
  }

  /* CADA BLOQUE (5) */
  .section-admin__block {
    padding: 2rem;
    gap: 2rem;
  }

  .section-admin__block hr {
    border-top: 2px dashed #626272;
    margin: 1rem 0;
  }

  /* TITULO */
  .section-admin__title {
    font-size: 2rem;
  }

  /* CADA SUB-BLOQUE*/
  .section-admin__block-2 {
    gap: 2rem;
  }

  /* MARCADOR DE NUMERO DE OPCION */
  .section-admin__option-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.4rem;
    padding: 0.8rem 2rem;
    font-size: 1.8rem;
  }

  /* INPUT TEXTAREA */
  .section-admin__textarea {
    padding: 1rem;
    min-height: 150px;
    font-size: 1.8rem;
  }

  /* BOTON ENVIAR */
  .section-admin__submit {
    padding: 1.5rem 5rem;
    font-size: 1.8rem;
  }
}
