.setting-avatar__mask{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 1px dashed yellow; */
  margin: 0 auto .5rem;
  position: relative;
  transition: all 500ms;
  overflow: hidden;
}

/* .setting-avatar__mask:after{
  content: 'Editar';
  background: red;
  position: absolute;
  left: -5px;
  bottom: 10px;
  padding: 1rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
  background: #19191c;
  background: var(--gray-3);
  background: var(--gray-6);
  background: var(--gray-8);

  left: calc(47px);
  font-size: 1.8rem;
  bottom: -5rem;
  padding: 1.2rem 2rem;
  width: max-content;
} */

.setting-avatar__mask:hover{
  border: 3px dashed var(--blue-3);
  transform: scale(1.1);
}

.setting-avatar__loading{
  /* background: conic-gradient(transparent, var(--blue-2)); */
  background: conic-gradient(transparent, var(--blue));
  width: 110%;
  height: 110%;
  top: calc(0px - 5%);
  left: calc(0px - 5%);
  position: absolute;
  border-radius: 50%;
  animation: rodar 700ms ease-in-out infinite;
}

@keyframes rodar {
  0%{transform: rotateZ(0deg)}
  100%{transform: rotateZ(360deg)}
}


.setting-avatar__img{
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 50%;
  object-fit: cover;
  background: #3c414c;
}

/* INPUT DE FILE - IMAGEN */
.setting-avatar__input-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

/* Propiedades para el botón de selección de archivos */
.setting-avatar__input-img::-webkit-file-upload-button {
  opacity: 0;
}

.setting-avatar__input-img:before{
  content: 'Cambiar';
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000a7;
  display: none;
  border-radius: 50%;
}

.setting-avatar__input-img:hover:before{
  display: flex;
}





.button-edit-avatar{
  background: red;
  width: max-content;
  margin: 0 auto;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--gray-3);
  color: white;
  transition: 300ms;
  margin-bottom: 1rem;
  background: #3f4550;
  background: #3c414c;
}
.button-edit-avatar:hover{
  background: var(--blue);
}

@media (min-width: 720px) {
  .setting-avatar__mask{
    width: 160px;
    height: 160px;
    margin: 1rem auto 1.5rem;
    box-shadow: 10px 10px 40px #18181b4a;
  }

  .setting-avatar__mask:hover{
    border: 5px dashed var(--blue-3);
    box-shadow: 10px 10px 50px #a88dff53;
  }

  .setting-avatar__input-img:before{
    font-size: 1.9rem;
  }

  .button-edit-avatar{
    padding: 1.5rem 2rem;
  }
}
